# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
.eggs/
*.egg-info/
*.egg

# Pact
pacts/*.json
!pacts/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker
.docker/
